.header {
  align-items: center;
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  height: 70px;
  justify-content: center;
}

@media screen and (max-width: 48rem) {
  .header {
    font-size: 14px;
  }
}
