.footer {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  height: 70px;
  justify-content: center;
  margin: 0 auto;
}

.footer span {
  color: #61dafb;
  font-weight: bold;
}
